.scoreImg{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    Color: green;
}

.scoreText{
    text-align: center;
    font-size: 20px;
    Color: green;
}