.Modal {
    position: fixed;
    z-index: 100;
    background-color: white;
    border: 1px solid #ccc;
    padding: 50px;
    width: 50%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-sizing: border-box;
}

.Button {
    width: 30%;
    height: 50px;
    font-weight: bold;
}

.Link{
    background-color: white;
    color: blue;
    border: none;
    margin-top: 20px;
}
