.navLink{
    font-size: 25px;
    margin-left: 70px;
    color: #32b4d6;
}
.navImage{
    height: 60px;
    padding-left: 20px;
}
.signIn {
    margin-right: 20px;
    width: 100px;
}

.Header {
    background-color: #f1f1f1 !important;
}